<ion-view title="Board" hide-back-button="true">
  <ion-content class="has-tabs-top has-header" style="height: calc(100vh - 93px - 50px);">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-click="go(board.id)" class="boardList" ng-repeat="board in boardList">
        <div class="row">
          <div class="col col-75">
            <div class="row">
              <span class="textLightKorDark small">{{board.title}}</span>
            </div>
            <div class="row" style="padding-right: 30px !important;">
              <span class="textLightKorDark xtiny" style="text-overflow: ellipsis; overflow-y:hidden; white-space: nowrap;">{{board.body}}</span>
            </div>
            <div class="row">
              <span class="textLightKorDark textPaddingTop" style="font-size:8px;">{{board.createdAt|timeDiff}} | {{board.User.username}} </span>
            </div>
          </div>
          <div class="col col-25 col-center" style="display: table;">
            <img class="heart" src="img/heart.svg" style="display: table-cell;vertical-align: middle;">
            <span class="xtiny boardIconText" style="display: table-cell;vertical-align: middle; padding-right:5px;">{{board.heart}}</span>
            <img class="comment"src="img/comment.svg" style="display: table-cell;vertical-align: middle;">
            <span class="xtiny boardIconText" style="display: table-cell;vertical-align: middle;">{{board.comment}}</span>
            <!--이 위 img 에 하트 svg 넣어주세여. 그 다음에 색 변하는건 제가 할게여-->
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      immediate-check="false"
      ng-if="canLoadMore[type]"
      on-infinite="loadMore()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
  <div style="position: absolute; bottom: 60px; right:15px; ">
    <img src="img/plus.svg" style="width: 50px; height:50px;" ng-click="openModal()">
  </div>
</ion-view>
