<ion-view title="Board" hide-back-button="true">
  <ion-content class="has-tabs-top has-header">
    <ion-list>
      <ion-item ng-click="go(1)" class="boardList" ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
        <div class="row">
          <div class="col col-75">
            <div class="row">
              <span class="textLightKorDark small">제목입니다.</span>
            </div>
            <div class="row">
              <span class="textLightKorDark xtiny">글 ㄴㄴ 내용은 프리뷰</span>
            </div>
            <div class="row">
              <span class="textLightKorDark textPaddingTop" style="font-size:8px;">3시간 전 | 헬로미투 </span>
            </div>
          </div>
          <div class="col col-25 col-center">
            <img class="heart" src="img/heart.svg"><button class="xtiny boardIconText">8</button><img class="comment"src="img/comment.svg"><span class="xtiny boardIconText">8</span>
            <!--이 위 img 에 하트 svg 넣어주세여. 그 다음에 색 변하는건 제가 할게여-->
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
  <div style="position: absolute; bottom: 60px; right:15px; " ng-show="type=='free'">
    <img src="img/plus.svg" style="width: 50px; height:50px;" ng-click="openModal()">
  </div>
</ion-view>
