<ion-view class="padding notice-bg" hide-nav-bar="true">
  <ion-content>
    <div class="center" style="margin-top:220px;">
      <img src="img/logo.png" style="width:100px; height:100px;">
    </div>
    <div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">포탈 아이디</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">포탈 비밀번호</span>
          <input type="password">
        </label>
      </div>
    </div>
    <div class="center">
      <button ng-click="login()">로그인</button>
    </div>

  </ion-content>
  <div class="bar bar-footer" style="background:none;background-color: transparent; border:none;border:none;">
    <div class="title" style="color:white">c YONSEI</div>
  </div>
</ion-view>
