<ion-view  view-title="강의평가">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <img class="button button-icon ion-levels topbar-icon" src="img/point.svg" />
      <!--<button class="button button-icon icon ion-android-radio-button-on" style="padding-right: 0; opacity:1;color:white;" disabled></button>-->
      <button class="button" style="padding-left: 0; border:none; opacity:1; color: white;background: none;" disabled>{{currentPoint}}</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <img class="button button-icon ion-levels topbar-icon" src="img/filter.svg" ng-click="openModal('sort')"/>
    <!--<button class="button button-icon icon ion-levels" style="color:white;" ng-click="openModal('sort')"></button>-->
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <span class="middle eMainTitle">
          Words from<br/>the wise!
        </span>
      </ion-item>
      <ion-item ng-repeat="class in classList" style="padding:0;" ng-click="openClass(class.id,class.title)" ng-class="{even_item: $index%2 == 0, courseEvaluationRow:true}"  >
        <!--이 아래 부분만 수정하면 화면에 나오는 네개 다 바뀝니다-->
        <div class="row">
          <div class="col col-50" style="height: 30px;">
            <span class="eCourseTitle small" style="white-space: normal ">{{class.title}}</span>
          </div>
          <div class="col col-10"></div>
          <div class="col no-padding">
            <div class="row">
              <div class="col col-67"><span class="eCourseCriteria tiny">Professor</span></div>
              <div class="col col-33"><span class="eCourseScore tiny">{{class.avg_prof| number:1}}/5</span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50"></div>
          <div class="col col-10"></div>
          <div class="col no-padding">
            <div class="row">
              <div class="col col-67"><span class="eCourseCriteria tiny">Difficulty</span></div>
              <div class="col col-33"><span class="eCourseScore tiny">{{class.avg_diff| number:1}}/5</span></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <img class="star"src="img/star.svg" ng-repeat="i in getPositiveStar(class.rating) track by $index"/>
            <img class="star"src="img/starLine.svg" ng-repeat="i in getNegativeStar(class.rating) track by $index"/>
          </div>
          <div class="col col-10"></div>
          <div class="col col-40 no-padding">
            <div class="row">
              <div class="col col-67"><span class="eCourseCriteria tiny">Take Again?</span></div>
              <div class="col col-33"><span class="eCourseScore tiny">{{class.avg_again| number:1}}%</span></div>
            </div>
          </div>
        </div>
      </ion-item>
      <!--색 옅은 파란색이었다가 흰색이었다 하는 부분은 제가 추가할게요-->
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%" immediate-check="false" ng-if="canLoadMore">
    </ion-infinite-scroll>
    <!--&lt;!&ndash;<button ng-click="showLoading()">on</button>&ndash;&gt;-->
  </ion-content>
  <!-- align to the bottom of the page -->
  <div style="position: absolute; bottom: 60px; right:15px; ">
    <img src="img/plus.svg" style="width: 50px; height:50px;" ng-click="openModal('add')">
  </div>
</ion-view>
