<ion-view view-title="강의평가">
  <ion-header-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-levels " ng-click="openModal('sort')"></button>
    </ion-nav-buttons>
  </ion-header-bar>
  <ion-content class="padding">


    <!--<h2>Welcome to Ionic</h2>-->
    <!--<a href="#/tab/class/1">ddd</a>-->
    <!--<button ng-click="showLoading()">on</button>-->
    <!--<button ng-click="openModal('add')">add modal</button>-->
    <!--<rzslider ng-model="values" rz-slider-model="priceSlider.value" rz-slider-options="priceSlider.options"></rzslider>-->
    <!--<span ng-bind="priceSlider.value"></span>-->
  </ion-content>
</ion-view>
