<ion-view hide-nav-bar="true" class="bg-dark">
  <ion-content class="middle-content" style="" >
    <div class="center">
      <img src="img/adam.jpg" class="img img-circle" style="width:150px; height:150px; border-radius:50%;">
    </div>
    <div class="row">
      <div class="col col-33">
        <span>이름</span>
      </div>
      <div class="col">
        <span>이재하</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        <span>학번</span>
      </div>
      <div class="col">
        <span>2013198002</span>
      </div>
    </div>
    <div class="row">
      <div class="col col-33">
        <span>학과</span>
      </div>
      <div class="col">
        <span>정보인터랙션 디자인</span>
      </div>
    </div>
    <div class="row">
      <button class="margin-auto" ng-click="logout()">로그아웃</button>
    </div>

  </ion-content>
</ion-view>

