<ion-view hide-nav-bar="true" class="bg-dark">
  <ion-content class="middle-content" style="" >
    <div class="center">
      <img src="img/adam.jpg" class="img img-circle profile-img" style="width:130px; height:130px; border-radius:50%;margin-top:10vh;margin-bottom:1.5vh;">
    </div>
    <div class="row myPageform">
      <div class="col col-33">
        <span class="textLightKor tiny">이름</span>
      </div>
      <div class="col">
        <span class="textLightKor tiny">이재하</span>
      </div>
    </div>
    <div class="row myPageform">
      <div class="col col-33">
        <span class="textLightKor tiny">학번</span>
      </div>
      <div class="col">
        <span class="textLightKor tiny">2013198002</span>
      </div>
    </div>
    <div class="row myPageform">
      <div class="col col-33">
        <span class="textLightKor tiny">학과</span>
      </div>
      <div class="col">
        <span class="textLightKor tiny">정보인터랙션 디자인</span>
      </div>
    </div>
    <div class="row ">
      <button class="margin-auto textLightKor tiny halfTransparent" ng-click="logout()">로그아웃</button>
    </div>

  </ion-content>
</ion-view>
