<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive main-bottom-tab">

  <!-- Class Tab -->
  <!--<ion-tab title="CLASS" icon-off="ion-ios-circle-outline" icon-on="ion-ios-circle-filled" ui-sref="tab.class">
    <ion-nav-view name="tab-class"></ion-nav-view>
  </ion-tab>-->


  <!-- Notice Tab -->

  <ion-tab title="NOTICE" icon-off="noticesIcon" icon-on="noticesIcon" ui-sref="tab.notice">
    <ion-nav-view name="tab-notice"></ion-nav-view>
  </ion-tab>
  <!-- Board Tab -->
  <ion-tab title="BOARD" icon-off="boardIcon" icon-on="boardIcon" ui-sref="tab.board.free">
    <!--href="#/tab/board"-->
    <ion-nav-view name="tab-board"></ion-nav-view>
  </ion-tab>


  <ion-tab title="CLASS" icon-off="classIcon" icon-on="classIcon" ui-sref="tab.class">
    <ion-nav-view name="tab-class"></ion-nav-view>
  </ion-tab>
  <!-- Mypage Tab -->
  <ion-tab title="MY PAGE" icon-off="mypageIcon" icon-on="mypageIcon" href="#/tab/mypage">
    <ion-nav-view name="tab-mypage"></ion-nav-view>
  </ion-tab>


</ion-tabs>
