<ion-modal-view ng-init="board={}">
  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="navigation-dark" ng-click="goBack()">뒤로</button>
    </ion-nav-buttons>
    <ion-nav-title><span class="small navigation-dark">글 작성하기</span></ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="navigation-dark" ng-click="submit(board,imageUrl)">작성</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div style="width: 100%; min-height:100vw; background:grey; position: relative;" class="">
      <img src="img/emptyImage.svg" style="position: absolute;
    left: 50%;
    margin-left: -23px;
    top: 50%;
    margin-top: -23px;
    width: 46px;
    height: 46px;" ng-click="openFileDialog()" ng-show="imageUrl==0">
      <!--이거 이미지는 이미지 없을 때 기본으로 뜨는 중간에 svg-->
      <img ng-src="{{imageUrl}}" style="width: 100%; min-height:100vw;">
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="제목" ng-model="board.title">
      </label>
      <label class="item item-input">
        <textarea placeholder="내용을 입력하세요." class="boardWriteTextarea" ng-model="board.body"></textarea>
      </label>
    </div>
  </ion-content>
  <div style="position: absolute; left:0; top:0; width: 100%; height: 30px; background: transparent;">
    <div class="row">
      <div class="col col-33 center">
        <button ng-click="$ionicGoBack()" class="eMainTitleKor white float-left">뒤로</button>
      </div>
      <div class="col col-33 center" style="margin-top:4px; !important">
        <span class="eMainTitleKor white">자유게시판</span>
      </div>
      <div class="col col-33 center">
        <button class="eMainTitleKor white float-right">수정</button>
      </div>
    </div>
  </div>
</ion-modal-view>
