<!--재하형 보시오-->
<!--버튼들 스타일링은 style.css 파일의 329줄에 있는걸로 하면 됩니당-->
<ion-modal-view hide-nav-bar="true">
  <ion-content>
    <div class="row" style="margin-bottom:40px">
      <div class="col-60 ">
        <span class="middle eMainTitle">History of Science and Technology</span>
      </div>
      <div class="col-40" style="text-align: right;">
        <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal('add')"></button>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Rate Your Professor</span>
      </div>
      <div>
        <span class="tiny">How would you rate your professor as an instructor?</span>
      </div>
      <div class="row" style="padding: 0 20px 0 20px;">
        <rzslider rz-slider-model="priceSlider.value" rz-slider-options="priceSlider.options"></rzslider>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Level of difficulty</span>
      </div>
      <div>
        <span class="tiny">How hard did you have to work for this class?</span>
      </div>
      <div class="row" style="padding: 0 20px 0 20px;">
        <rzslider rz-slider-model="priceSlider.value" rz-slider-options="priceSlider.options"></rzslider>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Professor</span>
      </div>
      <div>
        <span class="tiny">Would you take this professor again?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio ng-model="choice1" ng-value="'A'">YEAH</ion-radio>
        <ion-radio ng-model="choice1" ng-value="'B'">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Attendance</span>
      </div>
      <div>
        <span class="tiny">Is attendance mandatory for this class?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio ng-model="choice2" ng-value="'A'">YEAH</ion-radio>
        <ion-radio ng-model="choice2" ng-value="'B'">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Grade Distribution</span>
      </div>
      <div>
        <span class="tiny">Does the professor fill up the plus quota fully?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio ng-model="choice3" ng-value="'A'">YEAH</ion-radio>
        <ion-radio ng-model="choice3" ng-value="'B'">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Course capacity</span>
      </div>
      <div>
        <span class="tiny">How many students were in the class?</span>
      </div>
      <ion-list class="rating-yes-no three-options">
        <ion-radio ng-model="choice4" ng-value="'A'">Below 10 (Absolute grading)</ion-radio>
        <ion-radio ng-model="choice4" ng-value="'B'">Between 10-20 (35% A)</ion-radio>
        <ion-radio ng-model="choice4" ng-value="'C'">Above 20</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Course Tags</span>
      </div>
      <div>
        <span class="tiny">Select tags that best describe the course. Choose carefully. The fate of future students lies in your hands!</span>
      </div>
      <ion-list  class="rating-yes-no">
        <ion-checkbox ng-repeat="i in checkboxList" ng-change="checkCheckboxCount($index)" ng-model="checkboxResult[$index]" ng-class="{'clicked' : checkboxResult[$index]}">#{{i}}</ion-checkbox>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Describe more specific</span>
      </div>
      <div>
        <span class="tiny">This is optional but if you write more than 350 words, you will get an extra 50 points!</span>
      </div>
      <label class="item item-input">
        <textarea placeholder="Write here!" ng-model="textarea"></textarea>
      </label>
      <span style="float:right">{{countOf(textarea)}} words</span>
      <div style="clear: both"></div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small">Rate this course</span>
      </div>
      <div>
        <span class="tiny">On a scale of 5, how would you rate this course?</span>
      </div>
    </div>

      <button ng-click="submit()" style="width: 100vw; border: none; height: 50px; background: red;">Submit</button>
  </ion-content>

</ion-modal-view>
