<!--재하형 보시오-->
<!--버튼들 스타일링은 style.css 파일의 329줄에 있는걸로 하면 됩니당-->
<ion-modal-view hide-nav-bar="true">
  <ion-content>
    <div class="row top-title" style="margin-bottom:40px;margin-top: 30px;">
      <div class="col-60 ">
        <span class="middle eMainTitle">History of Science and Technology</span>
      </div>
      <div class="col-40" style="text-align: right;">
        <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal('add')"></button>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Rate Your Professor</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">How would you rate your professor as an instructor?</span>
      </div>
      <div class="row" style="padding: 15px 20px 15px 20px;">
        <rzslider rz-slider-model="priceSlider1.value" rz-slider-options="priceSlider1.options"></rzslider>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Level of difficulty</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">How hard did you have to work for this class?</span>
      </div>
      <div class="row" style="padding: 15px 20px 15px 20px;">
        <rzslider rz-slider-model="priceSlider2.value" rz-slider-options="priceSlider2.options"></rzslider>
      </div>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Professor</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">Would you take this professor again?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio name="aa"  ng-model="choice[1]" ng-value="1" class="eMainTitleEn">YEAH</ion-radio>
        <ion-radio name="aa" ng-model="choice[1]" ng-value="0">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Attendance</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">Is attendance mandatory for this class?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio name="bb" ng-model="choice[2]" ng-value="1">YEAH</ion-radio>
        <ion-radio name="bb" ng-model="choice[2]" ng-value="0">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Grade Distribution</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">Does the professor fill up the plus quota fully?</span>
      </div>
      <ion-list class="rating-yes-no">
        <ion-radio name="cc" ng-model="choice[3]" ng-value="1">YEAH</ion-radio>
        <ion-radio name="cc" ng-model="choice[3]" ng-value="0">UM, NO</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Course capacity</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">How many students were in the class?</span>
      </div>
      <ion-list class="rating-yes-no three-options">
        <ion-radio name="dd"  ng-model="choice[4]" ng-value="1" class="rating-three">Below 10 (Absolute grading)</ion-radio>
        <ion-radio name="dd"  ng-model="choice[4]" ng-value="2" class="rating-three">Between 10-20 (35% A)</ion-radio>
        <ion-radio name="dd"  ng-model="choice[4]" ng-value="3" class="rating-three">Above 20</ion-radio>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Course Tags</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">Select tags that best describe the course. Choose carefully. The fate of future students lies in your hands!</span>
      </div>
      <ion-list  class="rating-yes-no">
        <ion-checkbox ng-repeat="i in checkboxList" ng-change="checkCheckboxCount($index)" ng-model="checkboxResult[$index]" ng-class="{'clicked' : checkboxResult[$index]}">#{{i}}</ion-checkbox>
      </ion-list>
    </div>
    <div class="rating-block">
      <div>
        <span class="small eCourseTitle">Describe more specific</span>
      </div>
      <div>
        <span class="tiny eCourseTitle">This is optional but if you write more than 350 words, you will get an extra 50 points!</span>
      </div>
      <label class="item item-input rating-textarea-label">
        <textarea id="describe" placeholder="Write here!" ng-model="describe" class="rating-textarea"></textarea>
      </label>
      <span style="float:right;color:rgba(82,82,82, .9); font-size:11px;" >{{countOf(describe)}}<span class="xtiny" style="color:rgba(82,82,82, .5)">words</span></span>
      <div style="clear: both"></div>
    </div>
    <div class="rating-block" style="padding-bottom:60px; !important">
      <div>
        <span class="small eCourseTitle">Rate this course</span>
      </div>

      <div>
        <span class="tiny eCourseTitle">On a scale of 5, how would you rate this course?</span>
        <ionic-ratings style="margin: 20px;" ratingsobj='ratingsObject'></ionic-ratings>
        <div class="center"><span class="eMainTitle" style="font-size:60px;line-height:1.2;">{{rating}}</span></div>
        <div class="center"><span class="eMainTitle small">{{rating_word}}</span></div>

      </div>
    </div>

      <button ng-click="submit()" style="width: 100vw; border: none; height: 50px; background: #213b73; color:white;"><span class="middle eMainTitle">Submit</span></button>
  </ion-content>

</ion-modal-view>
