/* Empty. Add your own CSS if you like */
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.eng{
  font-family: 'Open Sans', sans-serif;
}
.kor{
    font-family: 'Noto Sans KR', sans-serif;
}

span, button{
  font-family: 'Noto Sans KR', sans-serif;
}

.tabs-color-active-positive{
  background: #262727;
}
.notice-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/notice-background.png");
  background-size: cover;
  background-position-x: 50%;
}

.no-padding{
  padding:0;
}
.no-wrap{
  white-space: normal !important;
}
.blue-background{
  background: none;
  background-color:#223c72;
}
span.xtiny,p.xtiny,select.xtiny,input.xtiny, button.xtiny{
  font-size:10px;
}
span.tiny,p.tiny,select.tiny,input.tiny, button.tiny{
  font-size:12px;
}
span.small,p.small,select.small,input.small{
  font-size:14px;
}
span.middle,p.middle,select.middle,input.middle{
  font-size:25px;
}
span.big,p.big,select.big,input.big{
  font-size:30px;
}
span.extra,p.extra,select.extra,input.extra{
  font-size:32px;
}
div.center,input.center,select.center{
  text-align: center;
  text-align-last: center;
}
input.clean,label.clean,textarea.clean, select.clean{
  border:none !important;
  background:none !important;
}
button.search-button{
  border-radius: 20px;
  height:40px;
  width:100px;
  background-color:#4b5785;
  color:white;
}
input, textarea, select {
  -webkit-appearance: none;
}
span.rating-star.fill{
  color: #ff5485;
  font-size: 18px;
}
span.rating-star{
  color: white;
  font-size: 18px;
}
span.rating-star-border{
  color: white;
  text-shadow: -.5px 0 #ff5485, 0 .5px #ff5485, .5px 0 #ff5485, 0 -.5px #ff5485;
  font-size: 18px;
}
p.pink,span.pink{
  color:#f4a3a6;
}
span.tag{
  margin-right:10px;
  font-weight: 300;
  color:#4c7848;
  line-height: 1.8;
}
.float-right{
  float:right;
}

.white-text,span.white{
  color:white;
}
.button-icon.ion-ios-close-empty.icon:before{
  font-size:60px !important;
}
div.rating-block{
  padding:30px 16px;
  border-bottom:1px solid rgba(82, 82, 82, 0.2);;
}
.rating-yes-no>.list{
  margin-top:20px;
}
.middle-content>.scroll{
  display: table-cell; vertical-align: middle;
}
.middle-content{
  display: table; width:100%; height:100%;
}
button.margin-auto{
  margin:auto;
}
.bg-dark{
  background: #3c3d3d;
}
.sub-footer {
  position: absolute; bottom: 0px; width: 100%
}
.trans{
background: transparent;
}

.white{
color:#fff;
}

.no-border{
border: none;
}

.form-text{
  padding-bottom:3px;
  margin-top:18px;
  color: rgba(255,255,255,.7) !important;
}

.form-input{
  padding-bottom: 0px !important;
  height: 25px !important;
  margin-top: 18px !important;
}

.login-form{
  border-bottom: 1px solid rgba(255,255,255,.8);
  padding: 0px 0px;
}

.overall-padding{
  padding: 80px 40px 0px;
}

button.transparent{
  margin-top: 75px;
    border-radius: 16px;
    padding-top: 3px;
    height: 32px;
    width: 80px;
    border: 1px solid rgba(255,255,255, .6);
    background-color: transparent;
    color: rgba(255,255,255, 1);
}
button.transparent-large{
    border-radius: 25px;
    padding-top: 3px;
    height: 50px;
    width: 100px;
    margin-bottom: 8px;
    border: 1px solid rgba(255,255,255, .6);
    background-color: transparent;
    color: rgba(255,255,255, 1);
}

.registration-text{
    margin-top: 55px ;
    height: 55px !important;
    color: rgba(255,255,255,.9) !important;
}
input.registration-text{
  line-height:32px;
}
select.registration-text{
  padding-left:0px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}

.registration-text::-webkit-input-placeholder {
   color: white;
   font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
   font-weight: 300;
   height: 55px !important;
}

.registration-text:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-family: 'Noto Sans KR', 'Open Sans', sans-serif;
   font-weight: 300;
   height: 55px !important;
}

.registration-text::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 300;
   height: 55px !important;
}

.registration-text:-ms-input-placeholder {
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 300;
   height: 55px !important;
}
.tab-item{
  max-width: none;
}
div.vertical-mid-div{
  display: table;
}
div.vertical-mid-div>div{
  display: table-cell;
  vertical-align: middle;
}
.even_item>.item-content{
  background: #f2f2f2;
}

.eMainTitle{
  line-height: 1.5;
  font-weight:300;
  font-family: 'Open Sans', sans-serif;
}
.eCourseTitle{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
}
.eCourseCriteria{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
  color:rgba(240, 84, 106, 0.8);
}
.eCourseScore{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
  color:#525252;
}
.eMainTitleEn{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
}
.star{
  height:15px;
}
.star-large{
  height:35px;
    margin:8px;
}
.textPaddingTop{
  padding-top:5px;
}

.eMainTitleKor{
  line-height: 1.5;
  font-weight:400;
  font-family: 'Noto Sans Kr', sans-serif;
}
.profile-img{
  width:20vh;
}

.textLightKor{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight:300;
  color:rgba(255, 255, 255, 0.6);
}
.textLightKorDark{
  font-family: 'Noto Sans Kr', sans-serif;
  font-weight:300;
  color:rgba(82, 82, 82, 0.9);
}
.myPageform{
  padding: 18px 30px 18px !important;
  margin-top: 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

button.halfTransparent{
  margin-top: 75px;
  border-radius: 20px;
  padding-top: 3px;
  height: 40px;
  width: 80px;
  border: 1px solid rgba(255,255,255, .3);
  background-color: rgba(255,255,255, .06);
  color: rgba(255,255,255, .6);
}

.courseEvaluationRow>.item-content{
  padding-right:5px;
}
ion-header-bar{
  background:#213b73 !important;
}
.tab-nav{
  /*background: #262727 !important;*/
}
.comment{
  height:22px;
}
.heart{
  height: 20px;
}

.boardList>.item-content{
  padding:7px 15px 5px 15px;
}
.boardList .row,.boardList .col{
  padding:0px;
}

.boardIconText{
  margin:0px 15px 0px 10px;
}

.rating-yes-no>.list>.item-radio{
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
  width: 100px;
  height: 50px;
  margin: 15px;;
  border: 1px solid rgba(82,82,82, .2);
  display: inline-block;
}
/*아래는 라디오버튼 세개가 들어가는거 따로 이렇게 해줘야함. 여기서 해주는 것 이외의 속성들은 위에거 따라감*/
.rating-yes-no.three-options>.list>.item-radio{
   width: 240px;
 }
.rating-yes-no>.list>.item-radio>.radio-content>i{
  display:none;
}
.item-radio>.radio-content>.item-content{
  padding: 12px;
}

.rating-yes-no>.list>.item-checkbox{
  display: inline-block;
  padding:5px;
  border:none;
}
.rating-yes-no>.list>.item-checkbox>.checkbox>i{
  display:none;
}
.rating-yes-no>.list>.item-checkbox.clicked{
  color:red;
}


.bar.bar-positive .title{
  color:red;
}

.rating-yes-no>.list{
  text-align: center;
}

.rating-yes-no label{
  font-family: 'Open Sans', sans-serif !important;
  font-weight:200 !important;
}
.rating-three{
  font-size: 13px;
  margin:0px;
}
.rating-three .radio-content{
  padding:3px;
}

.rating-yes-no.three-options>.list>.item-radio{
  margin:3px;
}

.scroll .row{
  padding 0px 16px;
}
.top-title{
  padding: 16px 16px;
}

.rzslider>.rz-pointer{
  background-color: #205b2d !important;
}
.rating-textarea{
  height: 150px;
  resize: none;
  color: #828282;
}
.rating-textarea-label{
  padding: 7px 3px;
  margin-top:15px;
  border:none;

}
.rating-textarea-label span{
  font-size:10px;
}

.rating-star{
  margin-top:30px;
  margin-bottom: 20px;
}
